.body{
  max-width: 100 vw;
  direction: rtl;
  background: linear-gradient(135deg, white, rgb(0, 128, 255)); /* Corrected background gradient syntax */
}




h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: large;
}

img {
  width: 50%;
  height: auto;
}

.paragraphText {
  text-align: right;
}
